@media (max-width: 750px){
    .nav{
        padding: 10px 00px;
        justify-content: space-around;
    }
   .nav .toggeller{
    display: block;
    margin: 0px;
    font-size: 30px;
    font-weight: 900;
} 
.nav .list {
    display: none;
}
.nav .logo img {
    padding: 0px 0px;
}
    .header .caption h1{
        margin: 0px 10px;
        font-size: 30px;
    }

    
    .about {
        background: url(../img/background2.jpg)center top / cover fixed;
        padding-top: 50px;
        padding-bottom: 100px;
        direction: ltr;
        display: block;
    }

    
.about .imgData {
    width: 100%;
    padding-right: 00px;
    
}

.about .info {
    width: 100%;
    margin-left: 00px;
    margin-top: 10px;
}

.footer {
    display: block;
}
.footer .threeDos {
    width: 60%;
    margin: auto;
}

.footer .userLinks {
    width: 60%;
    margin: auto;
}

.footer .ourSponsers{
    width: 60%;
    margin: auto;
}

.footer .copyRight {
    padding: 50px 20px;
}

.head .row .caption .part {
    display: block;
}

.head .row .caption .part .info {
    margin-left: 0px;
}

.HEAD {
    padding: 00px 10px;
    padding-top: 150px;
}
.HEAD .aboutus {
    padding-bottom: 50px;
}

.HEAD .more .cards {
    display:block;
}
.HEAD .more .vision {
    width: 90%;
    padding-bottom: 50px;  
}
.HEAD .more .mission {
    width: 90%;
}

.HEAD .container .row{
    display: block;
}

.HEAD .container .row .info{
    width: 90%;
}
.HEAD .container .row .img {
    width: 90%;
}
}


@media (max-width: 900px){

}